coremltools==7.1
Django==4.2.7
djangorestframework==3.14.0
Flask==3.0.0
matplotlib==3.8.0
numpy==1.24.1
onnxruntime==1.16.3
onnxsim==0.4.35
opencv_python==4.8.1.78
pafy==0.5.5
pandas==2.1.4
Pillow==10.0.1
Pillow==10.1.0
pycocotools==2.0.7
PyMySQL==1.1.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
scipy==1.11.4
seaborn==0.13.0
setuptools==68.0.0
thop==0.1.1.post2209072238
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
wandb==0.16.1
xtcocotools==1.14.3
